
table {
    width: 30%;
    border-collapse: collapse;
    align-items: center;
    margin: 0 auto;
    padding: 5%;
    font-size: 1.5em;
  }
  
  td, th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  th {
    background-color: #4caf50;
    color: white;
  }
  
  td img {
    width: 100px;
    height: auto;
  }
  
  .container {
    margin: 0 auto;
    width: 80%;
  }
  
  @media only screen and (max-width: 700px) {
    .container {
      font-size: 12px;
    }
  }
  
