
table {
    width: 30%;
    border-collapse: collapse;
    align-items: center;
    margin: 0 auto;
    padding: 5%;
    font-size: 1.5em;
  }
  
  td, th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  th {
    background-color: #4caf50;
    color: white;
  }
  
  td img {
    width: 100px;
    height: auto;
  }
  
  .container {
    margin: 0 auto;
    width: 80%;
  }
  
  @media only screen and (max-width: 700px) {
    .container {
      font-size: 12px;
    }
  }
  
body{
  width: 100vw;
  height: 100vh;
  background-image: url("../../Project/assets/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:nth-child(odd) {
  background-color: #ffffff;
}

tr:hover {
  background-color: #4caf50;
}

tr>td>a {
  color: #070707;
  text-decoration: none;
  
}
tr>td>a:hover {
  color: #ffffff;
  text-decoration: none;
}

